* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body {
    position: relative;
    background: indigo;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 135%;
}

.heart {
    color: red;
}

h2 {
    text-align: center;
    color: white;
    font-size: 2.5em;
    margin: 5% 0;
    text-transform: uppercase;
    line-height: 1.7;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:80%;
    height: 40%;
    margin: auto;
}

p {
    font-size: 6rem;
    border-radius: 5px;
    padding: 10%;
    color: white;
}

#days,
#hours,
#mins,
#sec {
    background-color:rgb(125, 33, 190);
    color: #fff;
    padding: 2rem;
    margin:0 1.8rem;
    border-radius: 15px;
    box-shadow: 0 0 1px 5px rgb(107, 40, 155);
}

footer {
    text-align: center;
    color: #fff;
    margin: 0;
}

@media (max-width: 480px) {
    #particles-js {
        top: -100%;
        height: 100vh;
    }
    .container {
        margin:50% auto;
    }
    h2 {
        position: absolute;
        top: -50%;
        font-size: 1.5em;
        margin: 0;
    }
    p {
        margin: 5% 0;
        font-size:1.5em;
    }
    #days,
    #hours,
    #mins,
    #sec {
        padding: .3rem;
        margin:1rem .5rem;
    }

    footer {
        margin-top: -40%;
    }
}